$blue: #6190E8;
$light-blue: #A7BFE8;

/* Global Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: $blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $light-blue, $blue);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $light-blue, $blue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}